# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env


node_modules/



# Python virtual environment
venv_backend/
__pycache__/

# Frontend build output
ecommerce-dashboard/dist/

